{% extends "base.html" %}

{% block home %}
<li class="hmen-item animated fadeIn">
    <a href="/">home</a>
</li>
{% endblock home %}

{% block body %}
<h1 id="titular" class="animated fadeInDown">About</h1>

<div class="word-container">
    <p class="animated fadeInUp">
        I'm a creative and passionate Civil Engineer to-be that likes using technology to build things.
    </p>
</div>
<div class="contact-info">
    <span id="phone" class="animated fadeInRight">(321) 482-3971 | 13 Lanternback Dr. Melbourne, FL | <a href="mailto:rrw13@duke.edu?Subject=Reaching Out">rrw13@duke.edu</a></span>
</div>
{% endblock body %}