{% extends "base.html" %}

{% block body %}
<body>
    <div class="header">
        <ul class="header-column">
            <li class="hmen-item">
                <a href="/about">about</a>
            </li>
        </ul>
    </div>
    <div class="hero">
        <div>
            <h1 id="introduction" class="animated fadeInDown">Hi. I'm Ruby Watts.</h1>
        </div>
        <div class="word-container">
            <p class="animated fadeInUp">
                I'm a student at Duke University that hopes to build incredibly things that are also bizarrely beautiful.
            </p>
        </div>
    </div>
</body>
{% endblock body %}

