{% extends "base.html" %}

{% block body %}
<h1 id="titular" class="animated fadeInDown">Skills</h1>

    <div class="word-container">
        <p>
            Here is a list of some of my more technical abilities.
        </p>
    </div>


{% endblock body %}

{% block body2 %}
<div class="ul-wrapper">
    <ul>
        <li class="skill_item">Matlab</li>
        <li class="skill_item">Construction Drawings</li>
        <li class="skill_item">AutoCAD</li>
        <li class="skill_item">Solidworks</li>
        <li class="skill_item">Math</li>
    </ul>
</div>
{% endblock body2 %}